/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html, body, #map, .container-fluid 
{
  height: 100%;
  margin: 0;
  /*disable scroll bars*/
  overflow: hidden;
  padding: 0;
}

#form 
{
  position: absolute;
  top: 28px;
  width: 100%;
}

#form .form-group
{
    /* block-level flex container */
    display: flex;

    /* center container's content */
    justify-content: center;
}

#q
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* text box's width */
    width: 300px;
}


